.navbar {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    border-bottom: solid 0.05rem lightgray;
    height: 5rem;
}
.navbar > .logo {
    float: left;
    margin: auto 0 auto 2rem;
    width: 2rem;
    height: 2rem;
}