.OptionalSearchBtn {
    height: 2rem;
    align-items: center;
    display: flex;
    color: gray;
    margin: auto auto auto 0.5rem;
}

.OptionalSearchBtn:hover {
    cursor: pointer;
}


.OptionalSearchBtn > img {
    height: 1rem;
    width: 1rem;
    margin: auto 1rem auto auto;
}

