.SearchBar {
    display: flex;
    border: solid 0.05rem lightgray;
    box-shadow: 0.05rem 0.05rem 0.2rem 0.05rem gray;
    border-radius: 0.5rem;
    margin: auto auto auto 2rem;
    height: 3rem;
    min-width: 40rem;
}

