.SearchInput {
    height: 80%;
    width: 25rem;
    margin: auto 0.5rem auto 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    color: dimgray;
}

.SearchInput:focus {
    outline: none;
}